@import url(./other/publications-cards.css);
.section-publications {
  background: var(--bg-color-gray);
  padding-top: 30px;
}
.section-publications .card-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-publications .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--container-space);
}
.underline {
  border: none;
  height: 2px;
  background-color: var(--separator-color-gray);
}

.wrapper-btn {
  justify-content: center;
}
.wrap-btn {
  display: flex;
  justify-content: center;
  gap: 2px;
  padding: 2px;
  background: var(--separator-color-gray);
  border-radius: 12px;
}
.btn-public {
  border: none;
  background: none;
  padding: 8px 30px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-public:hover {
  background-color: var(--bg-color-gray);
}
.btn-public.active {
  background-color: var(--color-white);
}

@media (min-width: 610px) {
  .section-publications {
    margin-top: 60px;
  }
}
